{% extends 'base.html' %}

{% block title %}
Tournament detail page
{% endblock title %}

{% block content %}
<ul>
    <div id="messages"></div>
    <h1>Tournament</h1>
    <table class="table" style="width: 60%; box-shadow: 0 5px 15px rgb(0 0 0 / 0.3)">
        <tr>
            <th class="table-active" style="width: 10rem">Name</th>
            <td>{{ tournament.name }}</td>
        </tr>
        <tr>
            <th class="table-active" style="height: 16rem">Description</th>
            <td class="text-break">{{ tournament.description }}</td>
        </tr>
        <tr>
            <th class="table-active">Logo</th>
            <td><img class ="mt-4 mb-4" width="128" height="128" src="{{ tournament.logo.url }}" alt="tournament logo here!"></td>
        </tr>
        <tr>
            <th class="table-active">Owner</th>
            <td>{{ tournament.owner }}</td>
        </tr>
        <tr>
            <th class="table-active">Date of start</th>
            <td>{{ tournament.date_of_start }}</td>
        </tr>
        <tr>
            <th class="table-active">Number of teams</th>
            <td>{{ tournament.teams_number }}</td>
        </tr>
        <tr>
            <th class="table-active">Players per team</th>
            <td>{{ tournament.players_in_team }}</td>
        </tr>
        <tr>
            <th class="table-active">Approved by admin</th>
            <td>{{ tournament.approved_by_admin }}</td>
        </tr>
        <tr>
            <th class="table-active"></th>
            <td>
            </td>
        </tr>
    </table>

    <h4>Teams:</h4>

    {% if team_list %}
    {% for team in team_list %}
      
    <li>
      <img width="128" height="128" src="{{ team.logo.url }}" alt="team logo here!">
      <a href="{% url 'teams:detail' team.id %}">{{ team.name }}</a>
    </li>
    {% endfor %}
    {% else %}
      <p>No teams are available.</p>
    {% endif %}


    <li><a class="btn btn-success mb-3" href="{% url 'tournaments:approve' tournament.pk %}">Approve tournament</a></li>
    <li><a class="btn btn-primary mb-3" href="{% url 'tournaments:bracket' tournament.pk %}">Edit a tournament</a></li>
    <li><a class="btn btn-danger mb-3" href="{% url 'tournaments:delete' tournament.pk %}">Delete a tournament</a></li>
    <li><a class="btn btn-primary mb-3" href="{% url 'teams:create' tournament.pk %}">Create a team</a></li>


</ul>
{% endblock content %}
