{% extends 'base.html' %}

{% block title %}
Tournament detail page
{% endblock title %}

{% block content %}
<ul>
    <img class ="mt-4 mb-4" width="128" height="128" src="{{ tournament.logo.url }}" alt="tournament logo here!">
    <h1 class="mb-5">{{ tournament.name }}</h1>

    <a class="btn btn-primary mb-3 btn-lg" style="width: 8em" href="{% url 'tournaments:bracket' tournament.pk %}">Edit</a>

    <table class="table" style="width: 60%; box-shadow: 0 5px 15px rgb(0 0 0 / 0.3)">
        <tr>
            <th class="table-active" style="width: 10rem">Name</th>
            <td>{{ tournament.name }}</td>
        </tr>
        <tr>
            <th class="table-active" style="height: 16rem">Description</th>
            <td class="text-break">{{ tournament.description }}</td>
        </tr>
        <tr>
            <th class="table-active">Owner</th>
            <td>{{ tournament.owner }}</td>
        </tr>
        <tr>
            <th class="table-active">Number of players</th>
            <td>{{ tournament.teams_number }}</td>
        </tr>
        <tr>
            <th class="table-active">Reward</th>
            <td>{{ tournament.players_in_team }}</td>
        </tr>
    </table>

    <h4>Teams:</h4>

    {% if team_list %}
    {% for team in team_list %}
      
    <li>
      <img width="128" height="128" src="{{ team.logo.url }}" alt="team logo here!">
      <a href="{% url 'teams:detail' team.id %}">{{ team.name }}</a>
    </li>
    {% endfor %}
    {% else %}
      <p>No teams are available.</p>
    {% endif %}

    <li><a class="btn btn-primary mb-3" href="{% url 'teams:create' tournament.pk %}">Create a team</a></li>
    {% if tournament.owner.id == user.id %}
    <li><a class="btn btn-primary mb-3" href="{% url 'tournaments:delete' tournament.pk %}">Delete</a></li>
    {% endif %} 

    <h4>Rounds:</h4>

    <li>
        <form action="/tournaments/create_round/" method="POST">
          {% csrf_token %}
          <button id="create_round">Create a round</button>
        </form>
    
    </li>
    {% if round_list %}
      <ul>
      {% for round in round_list %}
        <li>{{ round.number }}</li>
      {% endfor %}
      </ul>
    {% endif %} 

</ul>
{% endblock content %}

{% block script %}
<script> 

$('#create_round').click(function(event){
    event.preventDefault();
    // console.log("Form submitted!")  // sanity check
    update_profile("/tournaments/create_round/", "POST");
});

var alertList = document.querySelectorAll('.alert')
alertList.forEach(function (alert) {
new bootstrap.Alert(alert)
})

function update_profile(url, type) {

    $.ajax({
        url : url, // the endpoint
        type : type, // http method
        data : {
          'tournament_id' : '{{ tournament.id }}',
          csrfmiddlewaretoken: '{{ csrf_token }}',
        }, 

        // handle a successful response
        success : function(json) {
            console.log(json); // log the returned json to the console
            $('#messages').html('<div class="alert alert-success alert-dismissible fade show" role="alert"> \
                Changes saved! \
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> \
            </div>');
            console.log("Profile updated!") 

        },
        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#messages').html('<div class="alert alert-danger alert-dismissible fade show" role="alert"> \
                Oops! We have encountered an error! \
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> \
            </div>');
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
};
</script>
{% endblock script %}