<!-- Autoři:
    Max Koval (xkoval20)
    Anvar Kilybayev (xkilyb00)
-->
{% extends 'base.html' %}

{% block title %}
Leaderdoard page
{% endblock title %}

{% block content %}

<section class="py-4 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Players leaderdoard</h1>
    </div>
  </div>
</section>


<div class="album py-5 bg-light">
  <div class="container">

    <div class="row">
            <div class="col-3 d-flex"></div>
            <div class="col-3 d-flex flex-row justify-content-center align-items-center"><h4>Username</h4></div>
            <div class="col d-flex flex-row justify-content-center align-items-center"><h4>Wins:</h4></div>
            <div class="col d-flex flex-row justify-content-center align-items-center"><h4>Matches</h4></div>
            <div class="col d-flex flex-row justify-content-center align-items-center"><h4>Tournaments</h4></div>
      {% if players %}
      <ul class="list-group">

      {% for player in players %}
        <a style="text-decoration:none" href="{% url 'main:user_detail' player.user.id %}">
        <div class="list-group-item list-group-item-action" >
            <div class="row">
                <div class="col-3 d-flex">
                    <div class="my-auto" style="background-image: url({{player.avatar.url}}); background-size: cover; background-position: center; padding: 8%; border-radius: 50%; width: 50px; height: 50px"></div>
                </div>
                <div class="col-3 d-flex flex-row justify-content-center align-items-center">
                    <h4 class="my-auto align-items-center">{{player.user}}</h4>
                </div>
                <div class="col-2 d-flex flex-row justify-content-center align-items-center"></div>
                <div class="col d-flex flex-row justify-content-center align-items-center">
                    <span class="my-auto"><h4>{{player.wins_matches}}</h4></span>
                </div>
                <div class="col d-flex flex-row justify-content-center align-items-center">
                    <span class="my-auto"><h4>{{player.wins_tournament}}</h4></span>
                </div>
            </div>
        </div>
        </a>
      {% endfor %}
        </ul>

      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}