{% extends 'base.html' %}

{% block title %}
Tournaments page
{% endblock title %}

{% block content %}

<section class="py-4 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Current tournaments</h1>
      <a class="btn btn-primary" href="{% url 'tournaments:create' %}">Create new</a>
      </p>
    </div>
  </div>
</section>


<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% if tournament_list %}
      {% for tournament in tournament_list %}
      <div class="col">
        <a href="{% url 'tournaments:detail' tournament.id %}">
          <div class="card shadow-sm">
            <div class="card-body">
                <img width="128" height="128" src="{{ tournament.logo.url }}" alt="tournament logo here!">
                <p class="card-text">Name: {{ tournament.name }}</p>
                <p class="card-text">Date: {{ tournament.date_of_start }}</p>

{#              <div class="d-flex justify-content-between align-items-center">#}
{#                  <small class="text-muted">date</small>#}
{#              </div>#}
            </div>

          </div>
        </a>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}