<!-- Autor: Max Koval (xkoval20) -->
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% if tournament_list %}
            {% for tournament in tournament_list %}
            <div class="col">
            <a href="{% url 'tournaments:detail' tournament.id %}">
                <div class="card shadow-sm">
                <div class="card-body">
                    <img width="128" height="128" src="{{ tournament.logo.url }}" alt="tournament logo here!">
                    <p class="card-text">Name: {{ tournament.name }}</p>
                    <p class="card-text">Date: {{ tournament.date_of_start }}</p>
                    </div>
                </div>
            </a>
            </div>
            {% endfor %}
            {% endif %}
        </div>
  
    </div>
  </div>