{% extends 'base.html' %}

{% block title %}
Team detail page
{% endblock title %}

{% block content %}
<ul>
    <h1>Team name: {{ team.name }}</h1>
    <h4 style="{% if team.owner.id == user.id %} color:red {% endif %}">Team owner: {{ team.owner }}</h4>
    <h4>Players for this team:</h4>

    
    {% if players_list %}
    {% for player in players_list %}
      <img width="128" height="128" src="{{ player.avatar }}" alt="Player avatar">
      <li><a href="">{{ player.user.username }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
      <p>No players are available.</p>
    {% endif %}

    <li><a class="btn btn-primary" href="{% url 'teams:add_player' team.pk %}?next={{ request.path|urlencode }}">Add a player</a></li>
    <li><a class="btn btn-danger" href="{% url 'teams:remove_player' team.pk %}?next={{ request.path|urlencode }}">Remove a player</a></li>
    <li><a class="btn btn-primary" href="{% url 'teams:delete' team.pk %}">Delete</a></li>


</ul>
{% endblock content %}