{% extends 'base.html' %}
{% load crispy_forms_tags %}   

{% block title %}
Add a player to team
{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="mx-auto" style="width: 500px;">
    <form method="POST" enctype="multipart/form-data">
    
        <!-- Security token -->
        {% csrf_token %}
    
        <!-- Using the formset -->
        {{ form | crispy }}
        
        <!-- <input type="submit" value="Submit"> -->
        <div class="text-center mb-3">
	    	<button class="btn btn-primary" type="submit">Submit</button>
        </div> 
        <input type="hidden" name="next" value="{{ request.GET.next }}">
    </form>
</div>
</div>
{% endblock content %}