{% extends 'base.html' %}

{% block title %}
Tournaments
{% endblock title %}

{% block content %}
<div class="container-fluid">
    <h1>Tournament events</h1>
</div>
<div class="container-fluid">
    <a href="{% url 'events:create_event' %}" role="button" class = "btn btn-primary btn-lg">+  Create Event</a>
</div>

<div class="row me-auto ms-auto" style="width: 70%">

{% for item in all_tournaments %}
<div class="col-sm-4">

<div class="card mt-5 mb-5" style="width: 18rem; box-shadow: 0 5px 15px rgb(0 0 0 / 0.3);">
    <img src="" class="card-img-top" alt="/image">
    <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <ul class="list-group list-group-flush mb-3 ">
            <li class="list-group-item">Owner: {{ item.owner }}</li>
            <li class="list-group-item">State: {{ item.state }}</li>
        </ul>
        <div class="d-grid mx-auto" style="width: 8rem">
            <a href="{% url 'events:detail' item.id %}" class="btn btn-primary ">View</a>
        </div>
    </div>
</div>

</div>
{% endfor %}

</div>

{% endblock content %}
