{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Team detail page
{% endblock title %}

{% block content %}

<div class="container py-5">

   <div class="row">


        <div class="col-md-5 order-sm-2 order-md-2 offset-lg-1">

            <div class="container">

                <!-- Avatar -->
                <h4>Profile picture</h4>
                <div style="background-image: url({{player.avatar.url}}); background-size: cover; background-position: center; padding: 30%; border-radius: 50%; width: 200px; height: 200px"></div>

                <!-- Teams -->
                <div class="">
                    <h4>Teams of this player</h2>
                    {% if team_list %}
                    {% for team in team_list %}
                        <li>
                            <img width="100" height="100" src="{{ team.logo.url }}" alt="team logo here!">
                            <a class="m-2" href="{% url 'teams:detail' team.id %}">{{ team.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                    {% else %}
                        <p>No teams are available.</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-5 order-sm-1 order-md-1">
            <div class="container">
                <div id="messages">
                </div>

                <!-- Forms -->
                <div class="form-content">
                    <form method="POST" enctype="multipart/form-data" id="update_form">
                        {% csrf_token %}
                        {{ user_form.first_name | as_crispy_field }}
                        {{ user_form.last_name | as_crispy_field}}
                        {{ user_form.username | as_crispy_field}}
                        {{ user_form.email | as_crispy_field}}
                        {{ profile_form.bio | as_crispy_field}}
                        <hr>
                        <button  href="#" type="submit" class="btn btn-primary">Change Password</button>
                        <hr>
                        {{ profile_form.avatar | as_crispy_field}}
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <button type="reset" class="btn btn-primary">Reset</button>
                    </form>
                </div>
            </div>
        </div>
        

    </div> 
</div>
{% endblock content %}


{% block script %}
<script> 

$('#id_ajax_upload_form').submit(function(e){
    e.preventDefault();
    $form = $(this)
    var formData = new FormData(this);
    $.ajax({
        url: "/update_profile/",
        type: 'POST',
        data: formData,
        success: function (response) {
            $('.error').remove();
            console.log(response)
            if(response.error){
                $.each(response.errors, function(name, error){
                    error = '<small class="text-muted error">' + error + '</small>'
                    $form.find('[name=' + name + ']').after(error);
                })
            }
        },
        cache: false,
        contentType: false,
        processData: false
    });
});
// end

$('#update_form').on('submit', function(event){
    event.preventDefault();
    console.log("Form submitted!")  // sanity check
    $form = $(this)
    var formData = new FormData(this);
    update_profile("/update_profile/", "POST", formData);
});

var alertList = document.querySelectorAll('.alert')
alertList.forEach(function (alert) {
new bootstrap.Alert(alert)
})

function update_profile(url, type, sendData) {

    $.ajax({
        url : url, // the endpoint
        type : type, // http method
        data : sendData, 
        cache: false,
        contentType: false,
        processData: false,
        // handle a successful response
        success : function(json) {
            console.log(json); // log the returned json to the console
            $('#messages').html('<div class="alert alert-success alert-dismissible fade show" role="alert"> \
                Changes saved! \
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> \
            </div>');
            console.log("Profile updated!") 

        },
        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#messages').html('<div class="alert alert-danger alert-dismissible fade show" role="alert"> \
                Oops! We have encountered an error! \
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> \
            </div>');
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });
};
</script>
{% endblock script %}
